# ===== Java / Quarkus =====
target/
quarkus.log
*.log

# ===== Maven =====
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# ===== Gradle =====
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# ===== IDEs =====
# IntelliJ / IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/
.history/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/
nbactions.xml

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Env / Secrets =====
.env
.env.*
!.env.example

# ===== Testes =====
coverage/
jacoco/
*.exec

# ===== Docker =====
docker-compose.override.yml

# ===== Quarkus Dev Mode =====
.quarkus/

# ===== Native Image =====
*.so
*.dylib
*.dll
*.exe
